/* Color Scheme & /* Typography */
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1A4D2E;
    --secondary-color: #ED7D31;
    --accent1-color: #F7B787;
    --accent2-color: #F9E8D9;


    --heading-font: "Oleo Script", sans-serif;
    --paragraph-font: outfit, sans-serif;


    --headline-color-on-white: #1A4D2E;
    /* headlines on a white background */
    --headline-color-on-color: rgb(250, 232, 217);
    /* headlines on a colored background */
    --paragraph-color-on-white: #1A4D2E;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #ED7D31;
    /* paragraph text on a colored background */
    --paragraph-background-color: #1A4D2E;
    --nav-link-color: #F9E8D9;
    --nav-background-color: #1A4D2E;
    --nav-hover-link-color: rgb(238, 114, 20, 0.9);
    --nav-hover-background-color: rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: outfit, sans-serif;
    line-height: 1.6;
    color: var(--paragraph-color-on-white);
    /*background-color: var(--accent2-color);*/
}

h1,
h2 {
    font-family: "Oleo Script", sans-serif;
    color: var(--headline-color-on-white);
}

h3 {
    font-family: "Oleo Script", sans-serif;
    color: #833d0e;

}

/* Navigation Bar */
nav {
    background-color: var(--nav-background-color);
    margin: 0 auto;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: var(--nav-link-color);

}

nav a:hover {
    color: var(--paragraph-color-on-color);
    background-color: var(--nav-hover-background-color);
}

nav a:visited {
    background-color: var(--nav-hover-background-color);
}

/* Responsive Navigation Menu */
#menuButton::before {
    content: "☰";
}

#menuButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--headline-color-on-white);
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
    /* Move Hamburger around*/
    position: absolute;
    top: 0;
    right: 2vw;
}

ul.menuLinks {
    display: none;
    list-style-type: none;
}

/* CSS open class */
ul.menuLinks.open {
    display: block;
}

#menuButton.open::before {
    content: "X";
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1em;
}

footer p {
    color: #fff;
}

/* Additional Styles */
.main-content {
    padding: 20px;
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
}

.hero {
    margin: 10px auto;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-msg {
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    /* Adjust the background color and opacity as needed */
    padding: 10px;
    width: 50%;
    align-items: center;
}

.hero-msg h2 {
    text-align: center;
    font-size: 12px;
}

.hero-msg p {
    text-align: center;
    font-size: 10px;
}

/* Buttons */
.button-box {
    text-align: center;
    padding: 1rem;
    top: 10px;
    left: 30px;
}

.join {
    background-color: #1A4D2E;
    color: #fefae0;
    padding: 12px 20px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
}

.join:hover {
    background-color: var(--paragraph-color-on-color);
    color: var(--nav-background-color);
}

header {
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: var(--accent2-color);
}

.logo-link {
    /* Removes underline from the link */
    color: var(--nav-link-color);
    /* Ensures the text color is consistent */
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    text-align: center;
}

.logo {
    flex: none;
    /* Prevents the logo from growing or shrinking */
    margin-right: 20px;
    /* Adds some space between the logo and the header text */
    width: 100px;
    /* Adjust based on your actual logo size */
    height: auto;
    /* Maintains aspect ratio */
    margin-left: 2vw;
    text-align: center;
    align-items: center;
}

h1 {
    font-family: "Oleo Script", sans-serif;
    margin: 0;
    /* Removes default margin to control spacing tightly */
    color: var(--headline-color-on-white);
    /* Inherits color from parent link styling */
    font-size: 1rem;
    text-align: center;
    align-items: center;
    display: inline-flex;
}

/*Card */
.card {
    /* improve visual tangent design error */
    padding: 0 10px;
}

.card section {
    margin: .75rem 0;
}

.weather-card {
    background-color: rgba(250, 232, 217, 0.3);
    display: block;
    text-align: center;
}

.current-events {
    background-color: rgba(250, 232, 217, 0.3);
    display: block;
    text-align: left;
    padding: 0 10px;
}

.company-spotlights {
    background: none;
    display: block;
    text-align: center;
}


.company {
    display: block;
    text-align: center;
    margin: 1rem 2vw;
}

.company section {
    background-color: rgba(250, 232, 217, 0.3);
    padding: 10px;
}

.company p {
    text-align: center;
}

.hidden {
    display: none;
}

/* --------- DISCOVER PAGE --------------- */
/* Sidebar Layout */
.container {
    display: grid;
    grid-template-columns: 1fr;
    /* Initially, one column */
    text-align: center;
    margin: 1rem 2vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-card {
    background-color: var(--accent2-color);
    padding: 20px;
    border: 1px solid #fff;
    max-width: 70%;
    margin-left: 15%;
}

.main-content-2 {
    background-color: #fff;
    margin: 0 2vw;
    border: 1px solid #1A4D2E;
    gap: 20px;
    width: 100%;
    display: grid;
    order: 1;
    /* Display main content first by default (but it's doesn't work) */
    margin-top: 20px;
}

.main-content-2 img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 20px;
}

.card-image {
    padding: 20px;
    background-color: var(--accent2-color);
    border-radius: 20px;
    border: 20px solid #FFF;
}

.caption {
    text-align: center;
    margin-top: 10px;
}

.caption p {
    color: var(--paragraph-color-on-white);
}

#side-image img {
    width: 100%;
    height: auto;
}

/* --------- JOIN PAGE --------------- */
.containerJoin {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 2vw;
    gap: 20px;
    justify-content: center;
}

.form-container {
    max-width: 500px;
    margin: 1rem 3vw;
    min-width: 300px;
    margin-bottom: 20px;
}

.sidebarJoin {
    display: grid;
    margin: 1rem 3vw;
}

div.benefits-container {
    display: block;
    background-color: rgba(250, 232, 217, 0.3);
    padding: 20px 20px;
    margin-bottom: 20px;
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    align-items: center;

}

.benefits-container>h1 .benefits {
    margin: 10px;
    padding: 5px;
}

.benefits {
    background: white;
    margin: 10px;
}

.benefits>h2,
p,
strong {
    margin: 4px;
    margin-left: 10px;
    font-size: 90%;
}

legend {
    text-align: left;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: rgba(250, 232, 217, 0.3);
}

input[type="submit"] {
    border: none;
    background-image: linear-gradient(#1A4D2E, #dcd7d7);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 100%;
    margin: 1rem 2% 2%;
    /*2% right and 2% left + 96% (width) = 100%*/
    box-shadow: 1px 1px 4px black;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-image: linear-gradient(rgba(5, 72, 58, 0.9), #000);
    color: var(--paragraph-color-on-color);
}

.benefits-container>h2 {
    text-align: center;
    margin-bottom: 20px;
}

.containerJoin input:required {
    border-bottom: solid 8px rgb(238, 114, 20, 0.9);
}

.containerJoin input:required:valid {
    border-bottom: solid 8px #1A4D2E;
}

.error-message {
    margin-top: 0;
    margin-left: 5px;
}

#title {
    margin-bottom: 0;
}

.required-asterisk {
    color: #833d0e;
}


/* --------- THANKYOU PAGE --------------- */
div.thankyou {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

div.thankyou h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* --------- DIRECTORY PAGE --------------- */

.view-toggle {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: var(--accent2-color);
    text-align: center;
}

.view-toggle button {
    padding: 1rem;
    font-weight: 700;
    background-image: linear-gradient(#1A4D2E, #dcd7d7);
    color: #fff;
}

#directory-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Styles for grid view */
.grid-view {
    display: grid;
    grid-template-columns: 1fr;
    /* Default to single column */
    grid-gap: 10px;
}

.grid-view section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: var(--accent2-color);
    text-align: center;
    box-shadow: 2px 2px 4px #333;
}

.grid-view img {
    max-width: 100%;
    height: auto;
}

.grid-view h3 {
    font-family: "Oleo Script", sans-serif;
}

/* Styles for list view */
.list-view {
    display: flex;
    flex-direction: column;
}

.list-view section {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #fff;
    margin-left: 2vw;
    margin-right: 2vw;
}

.list-view section h3,
.list-view section p,
.list-view section a {
    margin: 0.5rem 2vw;
}

.list-view section:nth-child(even) {
    background-color: var(--accent2-color);
}

h2#directory {
    text-align: center;
}

.grid-view section a {
    word-break: break-all;
    /* This will break long words (like long URLs) to fit the section */
    display: block;
    /* Make sure the URL takes its own line */
    overflow-wrap: anywhere;
    /* Ensure long text wraps properly */
    font-size: x-small;
}

.grid-view section p {
    font-size: small;
}