@media only screen and (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #menuButton {
        display: none;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
    }

    .call-to-action {
        width: 50%;
    }

    .join-button {
        padding: 8px 16px;
    }

    .company {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    .hero-msg {
        top: 70%;
        align-items: center;
    }

    .hero-msg h2 {
        font-size: 24px;
    }

    .hero-msg p {
        font-size: 15px;
    }

    .join {
        font-size: 15px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 1rem 2vw;
        padding: 5px;
    }

    .sidebar-card {
        margin-bottom: 20px;
        max-width: 100%;
        margin-left: 0;
    }

    .main-content-2 {
        margin-top: 0;
    }

    img.hover:hover {
        box-shadow: 0 0 50px #333;
    }
}