@media only screen and (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #menuButton {
        display: none;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
    }

    .call-to-action {
        width: 50%;
    }

    .join-button {
        padding: 8px 16px;
    }

    .spotlight-container {
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
        font-size: 2rem;
    }


    .hero-msg h2 {
        font-size: 24px;
    }

    .hero-msg p {
        font-size: 15px;
    }

    .join {
        font-size: 15px;
    }

    .card-event {
        display: flex;
        flex-wrap: wrap;
    }

    .event-img {
        flex: 0 0 30%;
        max-width: 30%;
        margin-right: 20px;
        margin-top: 1rem;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .event-img img {
        width: 100%;
        height: auto;
    }

    .event-msg {
        flex: 1;
        margin-top: 1rem;
    }

    /* WEATEHER FORECAST*/

    #weather {
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
    }

    .current-weather {
        justify-items: center;
    }

    .forecast-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .forecast-item {
        flex: 1;
        margin-right: 10px;
    }

    .forecast-item:last-child {
        margin-right: 0;
    }

    /* --------- DISCOVER PAGE --------------- */

    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 1rem 2vw;
        padding: 5px;
    }

    .sidebar-card {
        margin-bottom: 20px;
        max-width: 100%;
        margin-left: 0;
    }

    .main-content-2 {
        margin-top: 0;
    }

    img.hover:hover {
        box-shadow: 0 0 50px #333;
    }

    /* --------- JOIN PAGE --------------- */

    div.containerJoin {
        display: flex;
        grid-template-columns: 30% 70%;
        margin: 1rem 2vw;
        margin-left: 1rem;
        padding: 5px;
        gap: 50px;
    }

    .sidebarJoin {
        display: flex;
        justify-items: center;
        margin-top: 80px;
        margin-left: 2rem;
        margin-bottom: 150px;

    }

    .benefits-container {
        margin-top: 100px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    /* --------- DIRECTORY PAGE --------------- */

    .grid-view {
        grid-template-columns: repeat(3, 1fr);
        /* Multiple columns for larger screens */
    }

    .grid-view section {
        margin: 1rem 2vw;
    }


    .list-view {
        display: flex;
        flex-direction: column;
    }

    .list-view section {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 2fr;
        /* Four columns for larger screens */
        text-align: left;
        margin: 0 0;

    }

    .list-view section h3,
    .list-view section p,
    .list-view section a {
        margin: 0;
        text-align: left;
    }

    .list-view section img {
        display: none;
        /* Hide image in list view */
    }

    .list-view section h3 {
        margin-left: 2vw;
    }

}